{% extends "power.html" %}
{% load humanize %}
{% block power_content %}
<h1>Power reading</h1>

<p>If you register often, try doing it at the same time of day</p>

{% include "form.html" with form=reading_form %}

<table class="table">
<thead>
	<tr>
		<th>Date</td>
		<th>Reading</td>
		<th>Average usage</td>
	</tr>
</thead>
<tbody>
{% for reading in readings %}
	<tr>
		<td>{{ reading.date }}</td>
		<td>{{ reading.kwh|intcomma }} kWh</td>
		<td>{{ reading.daily_usage|floatformat }}</td>
	<tr>
{% endfor %}
</tbody>
</table>

<p>If your power counter is reset somehow, you can click here to <a href="{% url "power_reading_reset" %}">reset</a> this counter</p>
{% endblock %}
