{% extends "blog.html" %}
{% load bbcodes %}
{% load humanize %}

{% block blog_content %}


<hr>
<div class="row">

	<div class="span9">


		<table class="table table-condensed table-striped">

			<tr>
				<th>Title</th>
				<th>Category</th>
				<th>Created</th>
				<th>Tags</th>
			</tr>

			{% for blog in archive_posts %}
			<tr>
				<td><a href="#intref{{forloop.counter}}">{{ blog.title }}</a></td>
				<td><a href="{% url "blog_category" blog.category.pk %}">{{blog.category.category}}</a></td>
				<td>{{ blog.origin|date:"d"|ordinal }}</td>
				<td>{% for tag in blog.tags.all %}
					<a href="{% url "blog_tag_view" tag.pk %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
				{% endfor %}</td>
			</tr>
			{% endfor %}
		</table>


		{% if blogs_display %}
			{% for blog in blogs_display %}
				<a name="intref{{forloop.counter}}"></a>
				{% include 'blog_show_post.html' with blog_active=blog.content comments=blog.comments %}
			{% endfor %}

		{% endif %}
		{% if blogs_display == None %}
			<p>Please select a month from the menu</p>
		{% endif %}

	</div>

	<div class="span3" style="font-size: 75%">

		{% include 'blog_archive_yearboxes.html' %}

	</div>
</div>


{% endblock %}

