{% extends "blog.html" %}
{% load bbcodes %}
{% load humanize %}

{% block blog_content %}


<hr>
<div class="row">

	<div class="span9">





		{% if blogs_display %}
			{% for blog in blogs_display %}
				<a name="intref{{forloop.counter}}"></a>
				{% include 'blog_show_post.html' with blog_active=blog.content comments=blog.comments %}
			{% endfor %}

		{% endif %}
		{% if blogs_display == None %}
			<p>Please select a month from the menu</p>
		{% endif %}

	</div>

	<div class="span3" style="font-size: 75%">

		{% include 'blog_archive_yearboxes.html' %}

	</div>
</div>


{% endblock %}

