{% load bbcodes %}
{% load upto %}
{% load l10n %}
{% load humanize %}

<div class="box blog-post" id="post-{{ blog_active.pk }}" data-year="{{ blog_active.origin|date:'Y' }}" data-origin="{{ blog_active.origin|date:'Y-m-d' }}" data-pk="{{ blog_active.pk }}">

	<div class="box-header">
		<div class="aside-header">
			{% if user.is_authenticated %}
			<div class="pull-right">
			{% if blog_active %}
					<div class="dropdown blog-post-admin">
						<a class="nav-icon-link blog-post-admin__toggle dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa-solid fa-gear" aria-hidden="true"></i>
							<span class="nav-icon-link__label nav-icon-link__label--inline">Administrer</span>
							<span class="caret" aria-hidden="true"></span>
						</a>
						<ul class="dropdown-menu pull-right blog-post-admin__menu" role="menu">
							<li role="none">
								{% url "blog_update" blog_active.pk as blog_update_url %}
								<a href='{{ blog_update_url }}?next={{ request.get_full_path|urlencode }}' role="menuitem"><i class="fa-solid fa-pen-to-square" aria-hidden="true"></i> Rediger tekst</a>
							</li>
							<li role="none">
								{% url "image_upload" blog_active.pk as image_upload_url %}
								<a href='{{ image_upload_url }}' role="menuitem"><i class="fa-solid fa-image" aria-hidden="true"></i> Bilder</a>
							</li>
							<li role="none">
								{% url "file_upload" blog_active.pk as file_upload_url %}
								<a href='{{ file_upload_url }}' role="menuitem"><i class="fa-solid fa-file-lines" aria-hidden="true"></i> Filer</a>
							</li>
							<li class="divider" role="separator"></li>
							<li class="blog-post-admin__item--danger" role="none">
								{% url "blog_delete" blog_active.pk as blog_delete_url %}
								<a href='{{ blog_delete_url }}' role="menuitem"><i class="fa-solid fa-trash-can" aria-hidden="true"></i> Slett</a>
							</li>
						</ul>
					</div>
				{% endif %}
			</div>
			{% endif %}

			<h3 class="blog-post-title"><a href='{% url "blog_show" blog_active.pk %}'>{{ blog_active.title }}</a></h3>

			<div class="blog-post-meta">
				<span class="blog-post-date">{{ blog_active.origin|date:"j" }}. {{ blog_active.origin|date:"F"|lower }} {{ blog_active.origin|date:"Y" }}</span>
			</div>

			{% if blog_active.tags.all %}
				<div class="blog-post-tags"><i class="icon-tags"></i> Tags:
				{% for tag in blog_active.tags.all %}
					<a href='{% url "blog_tag_view" tag.pk %}'></i>{{ tag|capfirst }}</a>
					{% if not forloop.last %}, {% endif %}
				{% endfor %}
				</div>
			{% endif %}



		</div>
	</div>


	<div class="box-content">

		<div class="blog-post-content">
		{% bbcode text=blog_active.content|linebreaksbr blog_id=blog_active.pk %}
		</div>

		{% if comments %}
		<br class="clear-both">
		<div class="box-comment">
			<div class="box-header-comment">
				<div class="aside-header aside-header--black">
					<i class="icon-comment"></i> Comments
				</div>
			</div>
			<div class="box-content">

			{% comment %}
			<a href='{% url "blog_comment" blog_active.pk %}'><button class="btn btn-mini btn-primary" type="button">Write a comment</button></a>
			{% endcomment %}

			{% for comment in comments %}
				<div class="row-fluid comment-row">
					<div class="span3">
						<p><b><i class="icon-user"></i> {{ comment.poster }}</b><br><small>{{ comment.created|timesince|upto:',' }}</small></p>
					</div>
					<div class="span9">
						{% if user.is_authenticated %}
						<span class="pull-right"><a class="comment-delete-link" href='{% url "blog_comment_delete" comment.pk %}?token={{csrf_token}}'><i class="icon-trash"></i></a></span>
						{% endif %}
						<div class="comment-comment-text">{{ comment.comment|linebreaks }}</div>
					</div>
				</div>
			{% endfor %}

			</div>
		</div>
		{% endif %}





	</div>
</div>
