{% load bbcodes %}
{% load upto %}
{% load l10n %}
{% load humanize %}

<div class="box">

	<div class="box-header">
		<span class="aside-header">
			{% if user.is_authenticated %}
			<div class="pull-right">
			{% if blog_active %}
					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Administrer <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li>
								{% url "blog_update" blog_active.pk as blog_update_url %}
								<a href='{{ blog_update_url }}?next={{ request.get_full_path|urlencode }}'><i class="icon-pencil"></i> Edit text</a>
							</li>
							<li>
								{% url "image_upload" blog_active.pk as image_upload_url %}
								<a href='{{ image_upload_url }}'><i class="icon-camera"></i> Manage images</a>
							</li>
							<li>
								{% url "file_upload" blog_active.pk as file_upload_url %}
								<a href='{{ file_upload_url }}'><i class="icon-file"></i> Manage files</a>
							</li>
							<li class="divider"></li>
							<li>
								{% url "blog_delete" blog_active.pk as blog_delete_url %}
								<a href='{{ blog_delete_url }}'><i class="icon-remove"></i> Delete</a>
							</li>
						</ul>
					</div>
				{% endif %}
			</div>
			{% endif %}

			<h3><a href='{% url "blog_show" blog_active.pk %}'>{{ blog_active.title }}</a></h3>

			{{ blog_active.origin.day }} {{ blog_active.origin|date:"N" }} {{ blog_active.origin.year|unlocalize }}

			{% if blog_active.tags.all %}
				<br><i class="icon-tags"></i> Tags:
				{% for tag in blog_active.tags.all %}
					<a href='{% url "blog_tag_view" tag.pk %}'></i>{{ tag|capfirst }}</a>
					{% if not forloop.last %}, {% endif %}
				{% endfor %}
			{% endif %}



		</span>
	</div>


	<div class="box-content">

		<div style="margin-right: 15px;">
		{% bbcode text=blog_active.content|linebreaks blog_id=blog_active.pk %}
		</div>

		{% if comments %}
		<br style="clear: both;">
		<div class="box-comment">
			<div class="box-header-comment">
				<span class="aside-header" style="color: #000">
					<i class="icon-comment"></i> Comments</i>
				</span>
			</div>
			<div class="box-content">

			{% comment %}
			<a href='{% url "blog_comment" blog_active.pk %}'><button style="margin-bottom: 5px;" class="btn btn-mini btn-primary" type="button">Write a comment</button></a>
			{% endcomment %}

			{% for comment in comments %}
				<div class="row-fluid" style="margin-top: 5px">
					<div class="span3">
						<p><b><i class="icon-user"></i> {{ comment.poster }}</b><br><small>{{ comment.created|timesince|upto:',' }}</small></p>
					</div>
					<div class="span9">
						{% if user.is_authenticated %}
						<span class="pull-right"><a style="margin-top: 10px" href='{% url "blog_comment_delete" comment.pk %}?token={{csrf_token}}'><i class="icon-trash"></i></a></span>
						{% endif %}
						<small>{{ comment.comment|linebreaks }}</small>
					</div>
				</div>
			{% endfor %}

			</div>
		</div>
		{% endif %}





	</div>
</div>
