{% extends "index.html" %}
{% load humanize %}

{% block body_main %}

<h3>Kalkulatorer</h3>

<div class="row">
	<div class="span6">
		<a class="btn btn-large btn-block calc-link-btn" href="{% url "calc_tax" %}">
			<i class="fa-solid fa-receipt" aria-hidden="true"></i>
			Norsk skattekalkulator
		</a>
	</div>
	<div class="span6">
		<a class="btn btn-large btn-block calc-link-btn" href="{% url "calc_loan" %}">
			<i class="fa-solid fa-house-circle-check" aria-hidden="true"></i>
			Serie og annuitetslån
		</a>
	</div>
</div>

{% endblock %}
