{% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post" action="" class="form-horizontal">
{% else %}
    <form method="post" action="" class="form-horizontal">
{% endif %}
{% csrf_token %}
	<fieldset>
	{% for field in form %}
	{% if blog_options_row and field.name == "linked" %}
	<div class="blog-write-options-row">
	{% endif %}
	{% if category_visible_option_row and field.name == "visible" %}
	<div class="blog-write-options-row blog-category-options-row">
	{% endif %}
	{% if blog_options_row and field.field.widget.input_type == "checkbox" or category_visible_option_row and field.name == "visible" and field.field.widget.input_type == "checkbox" or category_visible_option_row and field.name == "default_choice" and field.field.widget.input_type == "checkbox" %}
	<div class="control-group {% if field.errors %} error {% endif %}">
		<label class="blog-write-option-full-hit" for="{{ field.id_for_label }}">
			<span class="control-label">{{ field.label }}</span>
			<div class="controls">
				{{ field }}
				<span class="help-inline">
				{% if field.errors %}
					{% for error in field.errors %} {{ error }} {% endfor %}
				{% else %} {{ field.help_text }} {% endif %}
				</span>
			</div>
		</label>
	</div>
	{% else %}
	<div class="control-group {% if field.errors %} error {% endif %}">
		{{ field.label_tag }}
		<div class="controls">
			{{ field }}
			<span class="help-inline">
			{% if field.errors %}
				{% for error in field.errors %} {{ error }} {% endfor %}
			{% else %} {{ field.help_text }} {% endif %}
			</span>
		</div>
	</div>
	{% endif %}
	{% if blog_options_row and field.name == "published" %}
	</div>
	{% endif %}
	{% if category_visible_option_row and field.name == "default_choice" %}
	</div>
	{% endif %}
	{% endfor %}
	<div class="form-actions">
		<button type="submit" {% if secure %} autocomplete="off" {% endif %} class="btn btn-primary submitButtonMargin">{{ submit|default:'Lagre' }}</button>
		<a class="btn btn-danger" href="{{ redirect|default:"/return/" }}">{{ cancel|default:'Avbryt' }}</a>
	</div>
	</fieldset>
</form>
