{% extends "index.html" %}
{% block body_main %}


<h4>Administrasjon</h4>

<li><a href='{% url "statistics" %}'>Statistikk</a></li>
<li><a href='{% url "list_files" %}'>Opplastede filer</a></li>
<li><a href='{% url "debug" %}'>Debug</a></li>
<li><a href='{% url "password_change" %}'>Bytt passord</a></li>
<li><a href='{% url "profile_update" %}'>Oppdater profil</a></li>


<hr>

<h4>Brukere</h4>

<table class="table">
	<tr>
		<th>Brukernavn</th>
		<th>Fornavn</th>
		<th>Etternavn</th>
	</tr>
{% for profile in profiles %}
	<tr>
		<td>{{profile.user.username|default:"-"}}</td>
		<td>{{profile.name|default:"-"}}</td>
		<td>{{profile.surname|default:"-"}}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
