{% if profile %}
<div class="span4">
	<div class="user_profile">

		<span class="pull-right">
			<a href="{% url "profile_delete" profile.pk %}"><i class="icon-remove"></i></a>
		</span>

		<img class="pull-left img img-rounded" style="margin-right: 10px; height: 100px; width: 100px;" src="{{ STATIC_URL }}img/users/{% if profile.image %}{{ profile.image }}{% else %}default{{ profile.gender }}{% endif %}.png">

		<span>
			<h6 style="margin: 0 0 4px 0">
				<a href="{% url "profile_update" profile.pk %}"><i class="icon-pencil"></i></a> {{ profile.name }} {{ profile.surname }} ({{ profile.age|default:'unknown' }})
			</h6>
			<small>
				{% if profile.home_address %}{{ profile.home_address|default:'' }}<br>{% endif %}
				{% if profile.phone %}{{ profile.phone|default:'' }}<br>{% endif %}
				{% if profile.homepage %}{% if profile.homepage %}
				<a target="_blank" href="http://{{ profile.homepage }}">{{ profile.homepage }}</a>{% endif %}{% endif %}
			</small>
		</span>

	</div>
</div>
{% endif %}
