{% extends "index.html" %}
{% load humanize %}

{% block head_css_include %}{% endblock %}
{% block body_main %}

<ul class="pager">
	<li><a class="btn" href="{% url 'app_stocks' %}">Tilbake</a></li>
</ul>

<h3>{{header_text.name}} ({{header_text.ticker}})</h3>

<div class="row">
	<div>
		<canvas height="90" id="chart"></canvas>
	</div>
</div>



<script type="text/javascript" nonce="{{request.csp_nonce}}">
var canvas = document.getElementById('chart');
new Chart(canvas, {
	type: 'bar',
	data: {
		labels: [
			{% for l in graph_labels %}"{{l}}",{% endfor%}
		],
		datasets: [
			{
				type: 'line',
				cubicInterpolationMode: 'monotone',
				data: {{ graph_cost_stocks|safe }},
				label: 'Kjøpt for',
				yAxisID: 'B',
				fill: false,
				borderColor: 'rgba(120, 0, 0, 0.4)',
				borderWidth: 2,
				pointStyle: "star",
			},
			{
				type: 'line',
				cubicInterpolationMode: 'monotone',
				data: {{ graph_value_stocks|safe }},
				label: 'Nåverdi',
				yAxisID: 'B',
				fill: true,
				backgroundColor: 'rgba(0, 80, 0, 0.35)',
				borderColor: 'rgba(0, 80, 0, 0.5)',
				borderWidth: 2,
				pointStyle: "star",
			},
			{
				type: 'bar',
				data: {{ graph_num_stocks|safe }},
				label: 'Antall aksjer',
				yAxisID: 'A',
				barThickness: 2,
				maxBarThickness: 5,
				borderWidth: 3,
				backgroundColor: 'rgba(0, 0, 0, 0.4)',
			}
		]
	},
	options: {
		scales: {
			xAxes: [{
				type: 'time',
				gridLines: {
					drawOnChartArea: false
				},
			}],
			yAxes: [{
				id: 'A',
				type: 'linear',
				cubicInterpolationMode: 'monotone',
				position: 'left',
				scaleLabel: {
					display: true,
					labelString: 'Antall aksjer'
				},
				ticks: {
					min: 0
				},
				gridLines: {
					display: false
				},
			},
			{
				id: 'B',
				type: 'linear',
				cubicInterpolationMode: 'monotone',
				position: 'right',
				ticks: {
					min: 0
				},
				scaleLabel: {
					display: true,
					labelString: 'Verdi (NOK)'
				},
				gridLines: {
					display: false
				},
			}]
		}
	}
});
</script>


<table class="table table-striped">
	<thead>
		<th></th>
		<th>Dato</th>
		<th>Kjøp</th>
		<th>Dato</th>
		<th>Salg</th>
		<th>Resultat</th>
		<th></th>
	</thead>
{% for transaction in view_data %}
	<tr>
		<td>{% if transaction.bought %}<a href="{% url 'stocks_transaction_edit' transaction.bought.pk %}"><i class="icon-pencil"></a>{% endif %}</td>
		<td>{{transaction.bought.date}}</a></td>
		<td>{{transaction.bought.amount|intcomma}} @ {{transaction.bought.average_stock_price|floatformat:"3"|intcomma}}</td>
		<td>{{transaction.sold.date}}</a></td>
		<td>{{transaction.sold.amount|intcomma}} {% if transaction.sold %}@{% endif %} {{transaction.sold.average_stock_price|floatformat:"3"|intcomma}}</td>
		<td>{{transaction.result|floatformat:"0"|intcomma}}</td>
		<td>{% if transaction.sold %}<a href="{% url 'stocks_transaction_edit' transaction.sold.pk %}"><i class="icon-pencil"></a>{% endif %}</td>

	</tr>
{% endfor %}

	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><b class="pull-right">Sum</b></td>
		<td><b>{{result_total|floatformat:"0"|intcomma}}</b></td>
		<td></td>
	</tr>
</table>

{% endblock %}

{% block javascript_prepend %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/moment.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/chart.js"></script>
{% endblock %}
