{% extends "databases.html" %}
{% load humanize %}
{% load upto %}

{% block databases_category %}

<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Tittel</th>
			<th>Serie</th>
			<th>Forfatter</th>
			<th>Kategori</th>
			<th>Lest?</th>
			<th>Utmerkelse?</th>
			<th>Varighet</th>

		</tr>
	</thead>
	<tbody>
	{% for item in item_list %}
		<tr>
			<td>{% if user.is_authenticated %}
			<a href="{% url "databases_edit_data" 'Data' item.pk category_name %}?next={{ request.get_full_path|urlencode }}"><i class="icon-pencil"></i></a>
			{% endif %}</td>
			<td>
			{% if item.url %}
				<a href="{{item.url}}">{{item.name}}</a>
			{% else %}
				{{item.name}}
			{% endif %}
			{% if item.series_nr %}
				({{ item.series_nr|ordinal }})
			{% endif %}
			</td>
			<td>{{ item.series.name }}</td>
			<td>{{item.writer}}</td>
			<td>{{item.subcategory.name|capfirst}}</td>
			<td>{% if item.flagged %}<i class="icon-ok"></i>{% endif %}</td>
			<td>{% if item.star %}<i class="icon-star"></i>{% endif %}</td>
			<td>{{ item.duration|default:"0"|mintohour }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
