{% extends "databases.html" %}
{% load humanize %}
{% load upto %}

{% block databases_category %}

<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th width="5%"></th>
			<th width="50%">Book</th>
			<th width="20%">Author</th>
			<th width="25%">Category</th>
		</tr>
	</thead>
	<tbody>
	{% for item in item_list %}
		<tr>
			<td>{% if user.is_authenticated %}
			<a href="{% url "databases_edit_data" 'Data' item.pk category_name %}?next={{ request.get_full_path|urlencode }}"><i class="icon-pencil"></i></a>
			{% endif %}</td>
			<td>
			{% if item.url %}
				<a href="{{item.url}}">{{item.name}}</a>
			{% else %}
				{{item.name}}
			{% endif %}
			{% if item.series_nr %}
				({{ item.series_nr|ordinal }})
			{% endif %}
			</td>
			<td>{{item.writer}}</td>
			<td>{{item.subcategory.name|capfirst}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
