{% extends "index.html" %}
{% load breadcrumbs %}

{% block search %}
	{% url "money_search" as action %} {% include "search_form.html" with action=action %}
{% endblock %}

{% block body_main %}

<h3>Transaksjoner fra Sbanken</h3>

<div class="pull-right">
<a class="btn btn-small btn-danger"
	href='{% url "money_new" "expence" %}?next={{ request.get_full_path|urlencode }}'>
	Legg manuell utgift</a>
</div>


Viser {{transactions.count}} transaksjoner. For reserverte beløp gå til <a class="btn btn-info" href='{% url "sbanken_accounts" %}'>BankAPI</a>

<div id="div_message" class="alert alert-info">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<h4 class="alert-heading">{{latest_synch.event_type}}</h4>
		{{ latest_synch.opprettet|timesince }} siden.<br>{{ latest_synch.message }} <a href="/admin/mysite/applicationlog/?event_type=SBanken+API">(se historikk)</a>
	</div>


<p>Sum av transaksjoner som er reservert {{sum_reservert}}.</p>

<table class="table table-condensed">
	<thead>
		<tr>
			<th>Konto</th>
			<th width="15%">Kjøpsdato</th>
			<th>Faktor</th>
			<th>Beløp</th>
			<th>Beskrivelse</th>
			<th width="25%">Behandlet?</th>
		</tr>
	</thead>
	<tbody>
		{% for t in transactions %}
		<tr>
			<td><a href="{% url 'money_account' t.account.pk %}">{{t.account.name }}</a></td>

			<td>{{t.accounting_date}}</td>
			<td style="text-align: center; {% if t.amount_factor > 1 %} background-color: #ffe2e2; {% endif %}">
				{{t.amount_factor}}
			</td>
			<td style="{% if t.isReservation %} background-color: #ffe2e2; {% endif %}">{{t.adjusted_amount}}</td>
			<td>{{t.description}}</td>
			<td>
				<a href="{% url 'money_edit' this_type='bank_transaction' pk=t.pk %}" class="btn">Rediger</a>
				{% if t.related_transaction %}
					{% if t.related_transaction %}
						{% if t.adjusted_amount == t.related_transaction.amount %}
							<a href="{% url 'money_edit' this_type='expence' pk=t.related_transaction.pk %}?next=/money/bank/transactions/" class="btn btn-success">Koblet</a>
						{% else %}
							<a href="{% url 'money_edit' this_type='expence' pk=t.related_transaction.pk %}?next=/money/bank/transactions/" class="btn btn-warning">Forskjellig beløp</a>
						{% endif %}
					{% endif %}
					<a href="{% url 'money_migrate' t.pk %}" class="btn btn-info">Migrer</a>

				{% else %}
					{% if not t.isReservation %}
					<a href="{% url 'create_transaction' t.pk %}" class="btn btn-link">Opprett</a>
					<a href="{% url 'money_edit' this_type='bank_transaction' pk=t.pk %}" class="btn btn-link">Skjul</a>
					{% endif %}
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
