{% extends "index.html" %}
{% load breadcrumbs %}
{% load humanize %}

{% block search %}
	{% url "money_search" as action %} {% include "search_form.html" with action=action %}
{% endblock %}

{% block body_main %}

<h3>Transaksjoner fra Sbanken</h3>

<div class="pull-right">
	<a class="btn btn-small" href='{% url "sbanken_sync" %}'>Synkroniser nå</a>
</div>

<ul>
	<li>Sist synkronisering for {{ latest_synch.opprettet|timesince }} siden.</li>
	<li>API-nøkkel utløper om {{ request.user.profile.BANK_SECRET_EXPIRE|timeuntil }}.</li>
</ul>
<p>Viser de siste {{transactions.count}} transaksjonene. Sum av reserverte transaksjoner er {{sum_reservert}}.</p>

<table class="table table-condensed">
	<thead>
		<tr>
			<th>Konto</th>
			<th width="15%">Kjøpsdato</th>
			<th>Faktor</th>
			<th>Beløp</th>
			<th>Beskrivelse</th>
			<th width="25%">Behandlet?</th>
		</tr>
	</thead>
	<tbody>
		{% for t in transactions %}
		<tr>
			<td><a href="{% url 'money_account' t.account.pk %}">{{t.account.name }}</a></td>

			<td>{{t.accounting_date}}</td>
			<td style="text-align: center; {% if t.amount_factor > 1 %} background-color: #ffe2e2; {% endif %}">
				{{t.amount_factor}}
			</td>
			<td style="{% if t.isReservation %} background-color: #ffe2e2; {% endif %}">{{t.adjusted_amount}}</td>
			<td>{{t.description}}</td>
			<td>
				<a href="{% url 'money_edit' this_type='bank_transaction' pk=t.pk %}" class="btn">Rediger</a>
				{% if t.related_transaction %}
					{% if t.related_transaction %}
						{% if t.adjusted_amount == t.related_transaction.amount %}
							<a href="{% url 'money_edit' this_type='expence' pk=t.related_transaction.pk %}?next=/money/bank/transactions/" class="btn btn-success">Koblet</a>
						{% else %}
							<a href="{% url 'money_edit' this_type='expence' pk=t.related_transaction.pk %}?next=/money/bank/transactions/" class="btn btn-warning">Forskjellig beløp</a>
						{% endif %}
					{% endif %}
					<a href="{% url 'money_migrate' t.pk %}" class="btn btn-info">Migrer</a>

				{% else %}
					{% if not t.isReservation %}
					<a href="{% url 'create_transaction' t.pk %}" class="btn btn-link">Opprett</a>
					<a href="{% url 'money_edit' this_type='bank_transaction' pk=t.pk %}" class="btn btn-link">Skjul</a>
					{% endif %}
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
