{% extends "index.html" %}
{% load breadcrumbs %}

{% block search %}
	{% url "money_search" as action %} {% include "search_form.html" with action=action %}
{% endblock %}

{% block body_main %}

<h3>Ikke-registrert utgift</h3>

{% if valg %}
<style nonce="{{ request.csp_nonce }}">
	{% for t in valg %}
	.create-transaction-row-{{ t.pk }}{
		color: #{{ t.category.text_color|default:'A9A9A9'}};
	}
	{% endfor %}
</style>
{% endif %}

<table class="table table-condensed">
	<thead>
		<tr>
			<th width="15%">Kjøpsdato</th>
			<th>Konto</th>
			<th>Beløp</th>
			<th>Beskrivelse</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{bank_transaction.accounting_date}}</a></td>
			<td>{{bank_transaction.account}}</td>
			<td>{{bank_transaction.adjusted_amount}}</td>
			<td>{{bank_transaction.description}}</td>
		</tr>
	</tbody>
</table>

<form action="" method="post">{% csrf_token %}
	<input type="hidden" name="action" value="create_new">
	<select name="sub_category">

		{% with default=request.user.profile.DEFAULT_EXPENCE_SUB_CATEGORY %}
		{% for c in categories %}
		<optgroup label="{{c.name}}">
			{% for sc in c.subcategory_parent_category.all %}
			<option value="{{sc.pk}}" {% if default == sc.pk %} selected {% endif %}>{{sc.name}}</option>
			{% endfor %}
		</optgroup>
		{% endfor %}
		{% endwith %}
	</select>
	<input type="text" name="comment" value="{{ bank_transaction.description }}">
	<input class="btn btn-success" type="submit" value="Opprett ny">
</form>

{% if valg %}
	Kan det være en av disse?

	<table class="table table-condensed">
		<thead>
			<tr>
				<th width="15%">Dato</th>
				<th>Beløp</th>
				<th>Konto</th>
				<th>Beskrivelse</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody>
			{% for t in valg %}
			<tr class="create-transaction-row-{{ t.pk }}">
				<td>{{t.date}}</a></td>
				<td>{{t.amount}}</td>
				<td>{{t.account}}</td>
				<td>{{t.comment}}</td>
				<td>
					<form class="form-no-margin" action="" method="post" id="create_new">{% csrf_token %}
						<input type="hidden" name="action" value="link_existing">
						<input type="hidden" name="pk" value="{{t.pk|safe}}">
						<input class="btn btn-success" type="submit" value="Link denne">
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% endblock %}
