{% extends "index.html" %}
{% load breadcrumbs %}

{% block search %}
	{% url "money_search" as action %} {% include "search_form.html" with action=action %}
{% endblock %}

{% block body_main %}
<div class="row" style="margin-top: 10px">
	<div class="span12">
		<h3>{% block money_title %}{% endblock %}</h3>
		{% block money_actions %}
		<div class="pull-right">
			<a class="btn btn-small"
				href='{% url "bank_transactions" %}?next={{ request.get_full_path|urlencode }}'>
				Håndter transaksjoner</a>
			<a class="btn btn-small"
				href='{% url "money_new" "expence" %}?next={{ request.get_full_path|urlencode }}'>
				Legg til manuell utgift</a>
			<a class="btn btn-small"
				href='{% url "money_new" "downpayment" %}?next={{ request.get_full_path|urlencode }}'>
				Innbetaling lån</a>
			<a class="btn btn-small"
				href='{% url "money_new" "salary" %}?next={{ request.get_full_path|urlencode }}'>
				Legg til lønn</a>
			<a class="btn btn-small"
				href='{% url "money_new" "transaction" %}?next={{ request.get_full_path|urlencode }}'>
				Overfør mellom konto</a>
		<br><br>
			<a class="btn btn-link"
				href="{% url 'money_admin_add_account' %}">
				Kontoer</a>
			<a class="btn btn-link"
				href="{% url 'money_admin_category' %}">
				Kategorier</a>
			<a class="btn btn-link"
				href="{% url 'money_admin_subcategory' %}">
				Subkategorier</a>
		</div>
		{% endblock %}
	</div>
	<div class="span12">
		{% block money_subtitle %}{% endblock%}<hr>
	</div>

</div>

	{% block money_main %}{% endblock %}

{% endblock %}
