{% extends "money.html" %}
{% load humanize %}
{% load i18n %}
{% load l10n %}

{% block money_title %} {{block.super}} Main overview {% endblock %}

{% block money_main %}

<div class="row">
	<div class="scrollable span6">
		<div id="graph_per_year" style="height: 400px;"></div>
	</div>

	<div class="scrollable span6">
		<div id="graph_per_account" style="height: 400px;">
		<script type="text/javascript" nonce="{{request.csp_nonce}}">
			var balance_data = {{ balance_json|safe }};
			var year_data = {{ year_json|safe }};
		</script>
	</div>
</div>


<div class="row">
	<div class="scrollable span6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>År</th>
					<th>Brutto</th>
					<th>Netto</th>
					{% comment %}<th>Pension</th>{% endcomment %}
					<th>Skatt</th>
					<th>Skatt %</th>
				</tr>
			</thead>
			<tbody>
				{% for item in year_data %}
				<tr>
					<td><a class="btn btn-link" href='{% url "money_year" item.year %}'>{{ item.year|unlocalize }}</a></td>
					<td class="money">{{ item.gross|default:'-'|floatformat:"0"|intcomma }}</td>
					<td class="money">{{ item.nett|default:'-'|floatformat:"0"|intcomma }}</td>
					{% comment %}
					<td class="money">{{ item.retirement|default:'-'|floatformat:"0"|intcomma }}</td>
					{% endcomment %}
					<td class="money">{{ item.tax|default:'-'|floatformat:"0"|intcomma }}</td>
					<td class="money">{{ item.tax_pct }}%</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="scrollable span6">
		<table class="table table-striped sortable">
			<thead>
				<tr>
					<th>Konto</th>
					<th>Min balanse</th>
					<th>Bankens balanse</th>
					<th>Differanse</th>
					<th>Planlagt</th>
				</tr>
			</thead>
			<tbody>
			{% for item in balance_data.data %}
				<tr>
					<td><a class="btn btn-link" href='{% url "money_account" item.pk %}'>{{ item.account }}</a></td>
					<td class="money">{{ item.real|floatformat:"0"|intcomma }}</td>
					<td class="money">{{ item.real_bank|floatformat:"0"|intcomma }}</td>
					<td class="money">{{ item.diff_balanse|floatformat:"0"|intcomma }}</td>
					<td class="money">{{ item.planned|floatformat:"0"|intcomma }}</td>
				</tr>
			{% endfor %}
				<tr>
					<td><b>SUM</b></td>
					<td>{{balance_data.sum_real|default:'-'|floatformat:"0"|intcomma}}</td>
					<td>{{balance_data.sum_planned|default:'-'|floatformat:"0"|intcomma}}</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block javascript_append %}
<script src="{{ STATIC_URL }}js/highcharts-2.2.5.js"></script>
<script src="{{ STATIC_URL }}js/money_graphs.js"></script>
{% endblock %}
