{% extends "index.html" %}

{% block navigation_menu %}{% endblock%}
{% block search_bar %}{% endblock%}

{% block body_main %}

	{% block blog_content %}


	<div class="row">
		<br style="line-height: 80px;">
		<a class="btn btn-success" href="{% url 'orders' %}">View orders</a>
		<h4>Conan: Resources and gear
		<a class="btn btn-small" href="/admin/conan/item/add/">New item</a>
		<a class="btn btn-small" href="/admin/conan/itemtypechoice/">Edit categories</a>
		</h4>
		<p>An item is something found or created in Conan Exiles (Brutal Sun)</p>

		<table id="conan_items" class="table tablesorter floatheader" width="100%">
		<thead>
			<tr>
				<th>Name of item</th>
				<th>Type of item</th>
				<th>Has recipe?</th>
				<th>Price of item (silver)</th>
				<th>Stack cost (silver</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
			<tr>
				<td><a href="{% url 'item_details' item.pk %}">{{ item }}</a></td>
				<td>{{ item.itemtype }}</td>
				<td>{{ item.has_recipe|yesno:"Yes, No" }}</td>
				<td>
					{% if item.has_recipe %}
						{{ item.calculated_price|floatformat }} (calculated)
					{% else %}
						{{ item.itemprice|floatformat }} (set manually)</td>
					{% endif %}
				<td>{{item.stackprice|floatformat}} (for {{ item.stacksize }})</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>

	</div>

	{% comment %}
	<hr>
	<b>LRU cache statistics</b><br>
	parts(): {{parts_cache}}<br>
	breakdown(): {{breakdown_cache}}<br>
	calculated_price(): {{calculated_price_cache}}
	{% endcomment %}

	{% endblock %}

{% endblock %}
