{% extends "index.html" %}

{% block navigation_menu %}{% endblock%}
{% block search_bar %}{% endblock%}

{% block body_main %}

	{% block blog_content %}



	<div class="row">
	<h4>All orders</h4>
	<a class="btn btn-small btn-primary" href="/admin/conan/order/add/">New order</a>

		<table id="conan_items" class="table" width="100%">
		<thead>
			<tr>
				<th>Description</th>
				<th>Cost</th>
				<th>Payout</th>
				<th>Requires</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
			<tr>
				<td><a href="/admin/conan/order/{{order.pk}}/change/">{{ order.recipe_comment }}</a></td>
				<td>{{ order.cost|floatformat }} silver</td>
				<td>{{ order.payout_silver }} silver</td>
				<td>
					{% for part in order.parts.all %}
						<a href="/admin/conan/orderpart/{{part.pk}}/change/">{{part}}</a><br>
					{% endfor %}
					(<a href="/admin/conan/orderpart/add/?order={{order.pk}}">Add items</a>)

				</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>


	<div class="row">
		<h4>All items</h4>
		<a class="btn btn-small btn-primary" href="/admin/conan/item/add/">New item</a>
		<a class="btn btn-small btn-primary" href="/admin/conan/itemtypechoice/">Edit categories</a>

		<table id="conan_items" class="table" width="100%">
		<thead>
			<tr>
				<th>Name of item</th>
				<th>Type of item</th>
				<th>Has recipe?</th>
				<th>Price of item (Silver)</th>
				<th>Stack size</th>
			</tr>
		</thead>
		<tbody>
			{% for item in important_items %}
			<tr>
				<td><a href="{% url 'item_details' item.pk %}">{{ item }}</a></td>
				<td>{{ item.itemtype }}</td>
				<td>{{ item.has_recipe|yesno:"Yes, No" }}</td>
				<td>
					{% if item.has_recipe %}
						{{ item.calculated_price|floatformat }} (calculated)
					{% else %}
						{{ item.itemprice }} (set manually)</td>
					{% endif %}
				<td></td>
				<td>{{ item.stacksize }}</td>
			</tr>
			{% endfor %}
			{% for item in lesser_items %}
			<tr>
				<td><a href="{% url 'item_details' item.pk %}">{{ item }}</a></td>
				<td>{{ item.itemtype }}</td>
				<td>{{ item.has_recipe|yesno:"Yes, No" }}</td>
				<td>
					{% if item.has_recipe %}
						{{ item.calculated_price|floatformat }} (calculated)
					{% else %}
						{{ item.itemprice }} (set manually)</td>
					{% endif %}
				<td></td>
				<td>{{ item.stacksize }}</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>

	</div>

	{% endblock %}

{% endblock %}
