{% extends "index.html" %}

{% block navigation_menu %}{% endblock%}
{% block search_bar %}{% endblock%}

{% block body_main %}

{% block blog_content %}

	<div class="row">

		<br style="line-height: 80px;">
		<a class="btn btn-success" href="{% url 'app_conan' %}">Items and recipes</a>
		<a class="btn btn-success" href="{% url 'orders' %}">Orders</a>

		<h4>{{ item }}
			<a class="btn btn-small" href="/admin/conan/item/{{ item.pk }}/change/">✎ Edit item</a>
		</h4>

		<hr>

		<div class="span4">
		Type: <b>{{ item.itemtype }}</b><br>
		One item cost {{ item.calculated_price|floatformat }} silver<br>
		It comes in stacks of {{ item.stacksize }}.

		{% if item.has_recipe %}
			<p>The recipe yilds {{ item.recipe.output_factor }} {{ item.recipe }}
				<a href="/admin/conan/recipe/{{ item.recipe.pk }}/change/">(✎ edit)</a><br></p>
			{% for part in item.recipe.parts.all %}
				<li>
					<a href="{% url 'item_details' part.item.pk %}">{{ part.amount }} {{ part.item }}</a> (<a href="/admin/conan/recipepart/{{ part.pk }}/change/">✎</a>)
				</li>
			{% endfor %}
			<br>(<a href="/admin/conan/recipepart/add/?recipe={{item.recipe.pk}}">Add ingredient</a>)
		{% endif %}
		</div>

		<div class="span4">
			<h4>Total material breakdown</h4>
			{% if item.has_recipe %}
				{% for part in item.breakdown %}
					<p>{{ part.amount|floatformat:2 }} <a href="{% url 'item_details' part.item.pk %}">{{ part.item }}</a> for {{ part.price|floatformat:2 }} silver each</p>
				{% endfor %}
			{% else %}
				<a class="btn btn-small" href="/admin/conan/recipe/add/?item={{ item.pk }}">Add recipe</a>
			{% endif %}
		</div>

		<div class="span4">
			<h4>Used in</h4>
			{% for part in item.usedin %}
				<li><a href="{% url 'item_details' part.recipe.item.pk %}">{{ part.recipe }}</a></li>
			{% endfor %}
		</div>



	{% endblock %}

{% endblock %}
